.wrapper {
    width: 80%;
    max-width: 900px;
    min-width: 650px;
    border-radius: 10px;
    margin: 30px auto;
    overflow: hidden;
}

.title {
    padding: 10px 30px;
    background-color: #242625;
}

h1 {
    padding: 0;
    margin: 0;
    color: white;
}

.content {
    display: flex;
    height: 420px;
    background: #ECECEC;
}

button,
input[type='submit'],
.button {
    padding: 10px 30px;
    background-color: #6194BC;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    outline: none;
}

input[type="text"],
textarea {
    margin: 10px 0 20px 0;
    border: 1px solid transparent;
    display: block;
    padding: 10px;
    outline: none;
    width: -webkit-fill-available;
}

textarea {
    height: 100px;
    resize: none;
}

textarea::-webkit-scrollbar-track,
.scrollable-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

textarea::-webkit-scrollbar,
.scrollable-content::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

textarea::-webkit-scrollbar-thumb,
.scrollable-content::-webkit-scrollbar-thumb {
    background-color: #6194BC;
}

.created-date {
    width: 75px;
    padding: 0 0 0 10px;
    font-size: 10px;
    color: gray;
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

tr {
    background: #F7F7F7;
    border-bottom: 1px solid grey;
}

tr:last-of-type {
    border-width: 0;
}

td {
    padding: 0 10px;
}

a {
    color: #606060;
    text-decoration: none;
    display: block;
}

a:hover {
    color: #A5D1F3;
}

.empty {
    padding: 10px;
    text-align: center;
    background: transparent;
    font-size: 18px;
}