.nav-bar {
    padding: 15px 30px;
    background-color: #6194BC;
}

.nav-bar ul {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
}

.nav-bar ul li {
    width: 100px;
    margin: 0 10px;
    list-style-type: none;
    text-align: center;
    background-color: white;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    outline: none;
}

.nav-bar ul li a {
    padding: 5px 10px;
    text-transform: uppercase;
}

.nav-bar ul li a.active {
    color: #6194BC;
    font-weight: bold;
}

.nav-bar ul li a.active:hover {
    color: #A5D1F3;
}