.todo-details {
    width: 100%;
    padding: 30px 120px;
}

.todo-details .header-wrapper {
    margin-bottom: 20px;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    color: gray;
}

.todo-details input[disabled],
.todo-details textarea[disabled] {
    background-color: #e0e0e0;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
    opacity: 0.7;
}

.todo-details .status span {
    font-weight: bold;
}

.todo-details .status .active {
    color: #ff9800;
}

.todo-details .status .completed {
    color: green;
}