.todo-item.completed .task-name {
    text-decoration: line-through;
    color: green;
}

.todo-item .delete-button {
    width: 60px;
}

.todo-item .task-name p {
    padding: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    user-select: none;
}

.todo-item button {
    padding: 10px 10px;
    background-color: #e04254;
}