.news-details {
    width: 100%;
    padding: 0 30px;
}

.news-details .news-content {
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.news-details .news-content img {
    max-width: 440px;
    width: 50%;
    margin-right: 20px;
    object-fit: contain;
}

.news-details .news-title {
    text-align: center;
}

.news-details .abstract {
    margin: 0;
    font-size: 18px;
    text-align: justify;
}

.news-details .abstract a {
    font-weight: bold;
    color: #6194BC;
}

.news-details .abstract a:hover {
    color: #A5D1F3;
}